<div class="container"></div>

<script id="index" type="text/template">
  <article class="sixteen columns">
    <h3 class="sixteen columns">Click a Stock To See the Deets</h3>
    <% _.each(stocks, function(stock) { %>
      <a href="/#/<%= stock.StockTicker %>" class="three columns btn"><%= stock.StockTicker %>  (<%= stock.count_stockticker %>)</a>
    <% }); %>
  </article>
</script>

<script id="detail" type="text/template">
  <article class="sixteen columns">
    <a href="/#/" class="one column back">⇤</a>
    <h2 class="three columns"> <a href="http://finance.yahoo.com/q?s=<%= ticker %>"> <%= ticker %></a> </h2>


<h5>Stock Rank</h5>
    <div class="eleven columns linechart">
      <% _.each(data, function(stock, index) { %>
        <% if (_.size(data) === (parseInt(index, 10) + 1))  { %>
          <%= stock.Rank %>
        <% } else { %>
          <%= stock.Rank %>,
        <% } %>
      <% }); %>
    </div>
<h5>Stock Price</h5>
    <div class="eleven columns linechart">
      <% _.each(data, function(stock, index) { %>
        <% if (_.size(data) === (parseInt(index, 10) + 1))  { %>
          <%= stock.Open %>
        <% } else { %>
          <%= stock.Open %>,
        <% } %>
      <% }); %>
    </div>

    <header class="sixteen columns detail-header">
      <h3 class="three columns alpha">Date</h3>
      <h3 class="three columns ">Open $</h3>
      <h3 class="three columns omega">Rank</h3>
    </header>

    <% _.each(data, function(stock) { %>
      <div class="sixteen columns">
        <span class="three columns alpha"><%= stock.Date %></span>
        <span class="three columns "><%= stock.Open %></span>
        <span class="three columns omega"><%= stock.Rank %></span>
      </div>
    <% }); %>

  </article>
</script>
