{{#if error}}
  <div class="error">{{error}}</div>
{{else}}
  <article class="thirteen columns">
    {{#each data}}
      <a href="{{this.StockTicker}}" class="two columns btn">{{this.StockTicker}}</a>
    {{/each}}
  </article>
{{/if}}
